absl-py==2.3.1
accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
anyio==4.11.0
async-timeout==5.0.1
attrs==25.4.0
bitsandbytes==0.48.2
bitsandbytes-windows==0.37.5
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cut-cross-entropy==25.1.1
datasets==4.3.0
diffusers==0.35.2
dill==0.4.0
docstring_parser==0.17.0
evaluate==0.4.6
exceptiongroup==1.3.1
filelock==3.20.0
frozenlist==1.8.0
fsspec==2024.6.1
h11==0.16.0
hf_transfer==0.1.9
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
idna==3.11
importlib_metadata==8.7.0
Jinja2==3.1.6
joblib==1.5.2
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mpmath==1.3.0
msgspec==0.20.0
multidict==6.7.0
multiprocess==0.70.16
networkx==3.3
nltk==3.9.2
numpy==1.26.4
packaging==25.0
pandas==2.3.3
peft==0.12.0
pillow==11.3.0
portalocker==3.2.0
protobuf==3.20.3
psutil==7.1.3
pyarrow==22.0.0
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==311
PyYAML==6.0.3
regex==2025.11.3
requests==2.32.5
rich==14.2.0
rouge_score==0.1.2
sacrebleu==2.5.1
safetensors==0.7.0
scipy==1.15.3
sentencepiece==0.2.1
setuptools==80.9.0
shtab==1.8.0
six==1.17.0
sniffio==1.3.1
sympy==1.14.0
tabulate==0.9.0
tokenizers==0.21.4
torch==2.4.1+cu121
torchao==0.14.1
torchaudio==2.4.1+cu121
torchvision==0.19.1+cu121
tqdm==4.67.1
transformers==4.51.3
triton-windows==3.5.1.post21
trl==0.24.0
typeguard==4.4.4
typing_extensions==4.15.0
tyro==0.9.35
tzdata==2025.2
unsloth==2024.11.4
unsloth_zoo==2025.11.5
urllib3==2.5.0
wheel==0.45.1
xformers==0.0.27.post2
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
